<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>Look and Talk</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/message.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    </head>
    <body>
        <header>
            <div class="header_box">
                <div class="header_logo">
                    <img src="{{ url_for('static', filename='resources/r-logo.png') }}"> 
                </div>
                <div class="header_text">Look and Talk</div>
            </div>
        </header>
        <section>
            <div class="post">
                <div class="post_box">
                    <textarea class="post_text" placeholder="嗨 ~ 想和我們分享甚麼消息呢 ( ˙ ∀ ˙ ) ? "></textarea> 
                </div>
                <hr style="width: 90%;border: 0.5px #e7e2e2 solid;">
                <div class="post_btn_box">
                    <button class="post_btn">分享照片</button>
                </div>
            </div>
        </section>
        <div style="max-width: 1200px;margin: 0px auto;">
            <hr style="max-width: 97%; border: #c0baba dashed;">    
        </div>
        <main>
            <div class="post_up">
                <div class="post_up_text">
                    測試文字。
                </div>
            </div>
            <div class="post_up">
                <div class="post_up_text">
                    測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行測試斷行。
                </div>
            </div>
            <div class="post_up">
                <div class="post_up_text">
                    測試圖片。
                </div>
                <img src="{{ url_for('static', filename='resources/r-logo.png') }}">
            </div>
        </main>
        <footer></footer>
    </body>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
</html>